@font-face {
  font-family: BrandNeue;
  src: url(/fonts/brandneue.woff);
  font-weight: 400;
}

.openSans {
  font-family: 'Open Sans', sans-serif;
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

html {
  &, body {
    font-size: $font-size-base;
    height: 100%;
  }
}

@media (min-width: $screen-sm-min) {
  .iframe-wrapper {
    iframe {
      border: none;
      position: absolute;
    }
  }
  .form-footer, .terms-conditions{
    font-size: rem(40);
  }
}

@media screen and (max-width: 325px) {
  html, html body{
    font-size: 22px !important;
  }
  .terms-conditions-checkbox{
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
  }

}
