@font-face {
  font-family: BrandNeue;
  src: url(/fonts/brandneue.woff);
  font-weight: 400;
}

.openSans {
  font-family: 'Open Sans', sans-serif;
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

html {
  &, body {
    font-size: $font-size-base;
    height: 100%;
  }
}

@media (min-width: $screen-sm-min) {
  .iframe-wrapper {
    iframe {
      border: none;
      position: absolute;
    }
  }
}