.main-container {
  display: table;
  padding-top: 10px;
  .content {
    display: table-cell;
    vertical-align: middle;
  }

}

.hero-header {
  background: url(../images/hero-header-xs.jpg) no-repeat;
  background-size: cover !important;
  height: 70.60vh;
}

.user-content {
  line-height: 1;
  label {
    color: white;
  }
  select{
    padding: 0;
  }

  .form-group{
    padding-left: 10px;
    padding-right: 10px;
  }
  .form-control{
    font-size: 1rem;
    height: auto;
  }
  &-first {
    background: url(../images/segment-fondo-form.png) repeat-x;
    background-color: darkgoldenrod;
    background-size: contain;
    padding-bottom: rem(12);
    padding-top: rem(40);
    .form-control{
      color: purple;
    }
    .right-container{
      padding-right: 8px !important;
    }
    .left-container{
      padding-left: 8px !important;
    }
    .doc-number{
      padding-left: 1px !important;
    }
  }
  &-second {
    background: -webkit-linear-gradient(320deg, rgba(111, 197, 211,1), rgba(111, 197, 211,1) 1%, rgba(1, 167, 184,1) 61%, rgba(1, 152, 143,1) 100%);
    background: -o-linear-gradient(320deg, rgba(111, 197, 211,1), rgba(111, 197, 211,1) 1%, rgba(1, 167, 184,1) 61%, rgba(1, 152, 143,1) 100%);
    background: -ms-linear-gradient(320deg, rgba(111, 197, 211,1), rgba(111, 197, 211,1) 1%, rgba(1, 167, 184,1) 61%, rgba(1, 152, 143,1) 100%);
    background: -moz-linear-gradient(320deg, rgba(111, 197, 211,1), rgba(111, 197, 211,1) 1%, rgba(1, 167, 184,1) 61%, rgba(1, 152, 143,1) 100%);
    background: linear-gradient(130deg, rgba(111, 197, 211,1), rgba(111, 197, 211,1) 1%, rgba(1, 167, 184,1) 61%, rgba(1, 152, 143,1) 100%);
    padding-bottom: rem(20);
    padding-top: rem(15);
    padding-right: rem(24);
    .send-button{
      background-color: transparent;
      border: 5px solid white;
      font-weight: bold;
      padding: 5px;
    }
    .plus-button{
      background-image: url("../images/plus-button.png");
      background-color: transparent;
      width: 52px;
      height: 52px;
      border: none;
      margin-right: rem(-24);
    }
    .terms-conditions{
      font-size: rem(17);
      padding-right: rem(10);
    }
    .terms-conditions-checkbox{
      -webkit-transform: scale(1.6,1.6);
      -moz-transform: scale(1.6,1.6);
      -o-transform: scale(1.6,1.6);
    }
    .form-footer{
      font-size: rem(17);
      clear: both;
      text-align: center;
      margin-top: 90px;
    }
  }
}
.reset-padding{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.reset-margin{
  margin: 0;
}
@media screen and (max-width: 325px) {
  .user-content-second .terms-conditions-checkbox{
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
  }


}
@media (min-width: $screen-sm-min) {
  .iframe-wrapper {
    iframe {
      border: none;
      position: absolute;
    }
  }
  .user-content-second .form-footer, .user-content-second .terms-conditions{
    font-size: rem(22);
  }
}
@media screen and(min-width: $screen-sm-max) {
  .hero-header {
    background: url(../images/hero-header.jpg) no-repeat;
    height: 82vh;
  }
  .user-content{
    width: 42vw;
    select {
      padding: 6px 12px;
      width: 100% !important;
    }
    .birthdate{
      padding-left: 16px !important;
    }
  }
}
